<style>
    table {
      border-collapse: collapse;
      width: 600px;
      height: 600px;
    }
    td {
      border: 1px solid black;
      width: 30px;
      height: 30px;
      text-align: center;
    }
    .red {
      background-color: red;
    }
    .green {
      background-color: green;
    }
    .blue {
      background-color: blue;
    }
    .yellow {
      background-color: yellow;
    }
  </style>

<table style="border-collapse: collapse; width: 600px; height: 600px;">
    {% for row in board.grid %}
      <tr>
        {% for item in row %}
          <td style="border: 1px solid black; width: 30px; height: 30px; text-align: center;">
            {{ item }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  
  


